#ad {
  clear: both;
  margin: 10px 0 30px;
  color: black;
  font-size: 2em;
  float: left;
}
#newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {   color: $accent;  }
}


// New
.ad {
  clear: both;
  width: 728px;
  height: 90px;
  float: left;
  background-color: $accent;
  position: relative;

  .msg {
    padding-left: 35px;
    width: 100%;
//    height: 90px;
    font-size: 3em;
    line-height: 90px;
    position: absolute;
    top: 0;
    opacity: 0;

    // First screen of ad has larger type
    &:first-of-type {
      font-size: 3.5em;
    }
    // Last screen of ad has smaller type and an image
    &:last-of-type {
      font-size: 2.2em;
      line-height: 1.2em;
      p {
        margin-top: 10px;
        width: 60%;
        float: left;
      }
      img {
        float: left;
        margin: 20px 5px;
      }
    }
  }
}

.newsletter {
  height: 70px;
  width: 70px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {   color: $accent;  }
}

// Animation
$ad-screen-count: 6;
$ad-screen-duration: 3;
$ad-fade-duration: 1;

$ad-duration: $ad-screen-duration + $ad-fade-duration;
$total-duration: $ad-duration * $ad-screen-count;

$ad-screen-pct: 100 / $ad-screen-count;
$ad-trans-pct: $ad-fade-duration / $ad-duration * $ad-screen-pct;
$ad-fade-pct: $ad-trans-pct + $ad-screen-pct;

$ad-screen-pct: unquote($ad-screen-pct + "%");
$ad-trans-pct: unquote($ad-trans-pct + "%");
$ad-fade-pct: unquote($ad-fade-pct + "%");

@-webkit-keyframes adAnimation {
  0%  {
    opacity: 0;
  }
  #{$ad-trans-pct}, #{$ad-screen-pct} {
    opacity: 1;
  }
  #{$ad-fade-pct}, 100% {
    opacity: 0;
  }
}

.ad {
  .msg {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
  }
  // you can nest a for loop inside a selector
  @for $i from 1 through $ad-screen-count {
    .msg:nth-of-type(#{$i}) {
      $delay: #{ ($i - 1) * ($ad-duration) }s;
      -webkit-animation-delay: $delay;
    }
  }
}
