#ad {
  clear: both;
  margin: 10px 0 30px;
  color: black;
  font-size: 2em;
  float: left;
}
#newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {   color: $accent;  }
}

.ad {
  clear: both;
  width: 100%;
  height: 100px;
  background-color: $accent;
  position: relative;

  div {
    padding-left: 25px;
    width: 100%;
    height: 100px;
    font-size: 3em;
    line-height: 100px;
    position: absolute;
    top: 0;
    background-color: $accent;
  }
}

$ad-msg-count: 5;
$ad-display-duration: 3;
$ad-transition-duration: 1;
$ad-duration: $ad-display-duration + $ad-transition-duration;
$total-duration: $ad-duration * $ad-msg-count;

// Animation
@-webkit-keyframes adAnimation {
  0% { opacity: 0; }
  5%, 20% { opacity: 1; }
  24.9%, 100% { opacity: 0; }
}

.msg {
  opacity: 0;

  &:first-of-type {
    opacity: 1;
  }
  &:last-of-type {
    font-size: 2em;
    line-height: 1em;
    p {
      margin-top: 1em;
      width: 60%;
      float: left;
    }
    img {
      float: left;
      margin: 20px 5px;
      opacity: .8;
    }
  }
}

.ad  {
  .msg:nth-of-type(1) {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
    -webkit-animation-delay: 0;
  }
  .msg:nth-of-type(2) {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
    -webkit-animation-delay: 4s;
  }
  .msg:nth-of-type(3) {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
    -webkit-animation-delay: 8s;
  }
  .msg:nth-of-type(4) {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
    -webkit-animation-delay: 12s;
  }
  .msg:nth-of-type(5) {
    -webkit-animation: adAnimation #{$total-duration}s infinite;
    -webkit-animation-delay: 16s;
  }
}

//
//@for $i from 1 through $ad-msg-count {
//  .ad .msg:nth-of-type(#{$i}) {
//    $delay: #{ ($i - 1) * ($ad-duration) - $ad-transition-duration }s;
//    -webkit-animation-delay: $delay;
//  }
//}
